<header @flyIn>
    <div class="container-fluid pt-4" id="pozadina">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <h1>Quizzmax</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-4 mt-4">
                    <h2 class="display-5 ljubicasta">The 100% engagement platform</h2>
                    <p class="my-4">Find free gamified quizzes and interactive lessons to engage any learner.
                    </p>
                    <div class="d-grid">
                        <a routerLink="login" class="btn btn-lg pozadina">Get started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-layer">

    </div>
    <div class="globe d-flex justify-content-between border align-items-center text-center">
        <i class="fa fa-globe display-3"></i>
        <p class="mt-2 ljubicasta">Used by more than 50 million people around the world</p>
    </div>
</header>
<main>
    <section class="container text-center my-5 py-5">
        <p class="h3 ljubicasta w-75 mx-auto">Loved by educators in over 50% of U.S. schools and 150 countries.</p>
    </section>
    <section class="container-fluid ljubicasto text-light text-center my-5 py-5">
        <p class="h4 my-3 container">They engage from any device.
            You get instant feedback.
            Participants see questions on their own devices and you get great data—no grading required.</p>
    </section>
    <section class="container text-center my-5">
        <div class="row">
            <p class="h2 my-5">Getting started is free and easy.</p>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <p class="border rounded-circle krug mx-auto">1</p>
                        <h5 class="card-title">Create a role</h5>
                    </div>
                    <img src="../../assets/img/6-GETTING_STARTED-2.png" class="card-img-top"
                        alt="Getting started - Log in">
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <p class="border rounded-circle krug mx-auto">2</p>
                        <h5 class="card-title">Pick a quizz</h5>
                    </div>
                    <img src="../../assets/img/6-GETTING_STARTED-1.png" class="card-img-top"
                        alt="Getting started - Quizz choice">
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <p class="border rounded-circle krug mx-auto ">3</p>
                        <h5 class="card-title">And play!</h5>
                    </div>
                    <img src="../../assets/img/5-PRODUCT_LINEUP-For_Teachers.png" class="card-img-top"
                        alt="Getting started - Play time!">
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid text-center d-flex justify-content-center align-items-center mt-5 py-5">
        <div>
            <p class="h3 my-3 container">Ready for meaningful engagement?</p>
            <a routerLink="/login" class="btn btn-lg pozadina">Get started <i class="fa fa-chevron-right"></i></a>
        </div>
    </section>
</main>
<app-footer></app-footer>